/* styles.css */
.loader-container {
    position: fixed;
    top: -2px;
    left: 0;
    width: 100%;
    height: 10px;
    /* Adjust height as needed */
    background-color: transparent;
}

.loader-bar {
    height: 100%;
    width: 0;
    background: rgb(0, 100, 154);
    background: linear-gradient(90deg, rgba(0, 100, 154, 1) 49%, rgba(8, 8, 8, 1) 100%, rgba(0, 0, 0, 1) 100%);
    /* Loader bar color */
    transition: width 0.3s;
    /* Transition effect for smoother width change */
}

.content {
    /* Styles for your main content */
    margin-top: 20px;
    /* Adjust margin to make space for loader bar */
}